<Section class="mb-5">
  <div class="container">
    <div class="grid lg:grid-cols-2 gap-3  mx-auto">
      <div class="h-[300px] offers__one bg-cover bg-center bg-no-repeat rounded-md p-5 flex flex-col justify-center ">
        <h2 class="text-2xl font-bold pt-8 pb-3">Fruits & Vegetables</h2>
        <p class="text-sm font-bold text-secondary mb-3">Get Upto 30% Off</p>
        <button routerLink="/products" class="bg-main px-3 py-2  rounded-lg text-white w-[150px]" >Shop Now</button>
      </div>

      <div class="h-[300px] offers__two bg-cover bg-center bg-no-repeat rounded-md p-5 flex flex-col justify-center ">
        <h2 class="text-2xl font-bold pt-8 pb-3">Freshly Baked Buns</h2>
        <p class="text-sm font-bold text-secondary mb-3">Get Upto 25% Off </p>
        <button routerLink="/products" class="bg-main px-3 py-2  rounded-lg text-white w-[150px]" >Shop Now</button>
      </div>
    </div>
  </div>
</Section>
