<section class="pt-24 pb-10">
  <div class="container">


<div [@bounce]="bounce">

  <div class="flex justify-center items-center">
    <img src="images/freshcart-logo.svg" alt="login">

  </div>


  <h1 class="text-3xl text-center text-main font-semibold"> Register Now : </h1>
</div>


    <form class=" bg-slate-50 md:w-1/2 mx-auto mt-10 p-10 shadow-lg border"  [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()"  [@zoomIn]="zoomIn">


      <div class="mb-3">
        <label for="name"  class="block mb-2 text-sm font-medium text-gray-900 ">User Name</label>
        <input type="text" formControlName="name"  id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">


        @let nameControl = registerForm.get("name");

        @if(nameControl?.errors && nameControl?.touched ){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 "
          role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">


             @if(nameControl?.getError('required') && nameControl?.touched){
              <li>name is required</li>
             }@else if (nameControl?.getError('minlength') && nameControl?.touched) {
              <li>name must be at least 3 characters</li>

             }@else if (nameControl?.getError('maxlength') && nameControl?.touched) {
              <li>name must be at most 20 characters</li>

             }




            </ul>
          </div>
        </div>
        }



      </div>





      <div class="mb-3 ">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">User Email</label>
        <input type="email" formControlName="email"  id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">




          @let emailControl = registerForm.get("email");

          @if(emailControl?.errors && emailControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 "
            role="alert">
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">


               @if(emailControl?.getError('required') && emailControl?.touched){
                <li>Email is required</li>
               }@else if (emailControl?.getError('email') && emailControl?.touched) {
                <li>Email is not valid</li>

               }




              </ul>
            </div>
          </div>
          }


      </div>










      <div class="mb-3">
        <label for="Password" class="block mb-2 text-sm font-medium text-gray-900 ">User Password</label>
        <input type="password" formControlName="password"  id="Password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">




          @let passwordControl = registerForm.get("password");

          @if(passwordControl?.errors && passwordControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 "
            role="alert">
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">


               @if(passwordControl?.getError('required') && passwordControl?.touched){
                <li>Password is required</li>
               }@else if (passwordControl?.getError('pattern') && passwordControl?.touched) {
                <li>Password is not valid</li>

               }




              </ul>
            </div>
          </div>
          }



      </div>










      <div class="mb-3">
        <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 ">User rePassword</label>
        <input type="password" formControlName="rePassword"  id="rePassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">




          @let rePasswordControl = registerForm.get("rePassword");


          @if(registerForm.getError("notMatch") && rePasswordControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 "
            role="alert">
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">



                <li>rePassword is not match</li>





              </ul>
            </div>
          </div>
          }



      </div>





      <div class="mb-3">
        <label for="Phone" class="block mb-2 text-sm font-medium text-gray-900 ">User Phone</label>
        <input type="tel" formControlName="phone"  id="Phone"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">





          @let phoneControl = registerForm.get("phone");

          @if(phoneControl?.errors && phoneControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 "
            role="alert">
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">


               @if(phoneControl?.getError('required') && phoneControl?.touched){
                <li>Phone is required</li>
               }@else if (phoneControl?.getError('pattern') && phoneControl?.touched) {
                <li>Phone is not valid</li>

               }




              </ul>
            </div>
          </div>
          }


      </div>


      <div class="mb-3">

        <button [disabled]="iscalingApi" type="submit" class="text-white bg-green-600 rounded-md  px-5 py-2.5 text-center">
          sign up

@if(iscalingApi){
  <i class="fa fa-spin fa-spinner ms-2 mt-1"></i>
}

        </button>

@if(sussessRegister){
  <p class="bg-green-500 p-3 text-center text-white mt-2"> Susses </p>

}

@if(falidRegister){
  <p class="bg-red-500 p-3 text-center text-white mt-2"> {{falidRegister}} </p>

}

      </div>





    </form>
  </div>
</section>
