<section>
  <div class="container">
    <h1 class="text-3xl font-medium text-center text-green-600">Forget Password : </h1>

    @if(step == 1){
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" class=" bg-slate-50 md:w-1/2 mx-auto mt-10 p-10 shadow-lg border">
      <div class="mb-3">
        <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 ">User Email</label>
        <input type="Email" formControlName="email" id="Email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">

        @let emailControl = verifyEmail.get("email");

        @if(emailControl?.errors && emailControl?.touched ){
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 " role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">


              @if(emailControl?.getError('required') && emailControl?.touched){
              <li>Email is required</li>
              }@else if (emailControl?.getError('email') && emailControl?.touched) {
              <li>Email is not valid</li>

              }




            </ul>
          </div>
        </div>
        }

        <div class="mt-3">
          <button [disabled]="isloading" type="submit" class="text-white bg-green-600 rounded-md  px-5 py-2.5 text-center">

            Confirm Email
            @if(isloading){
              <i class="fa fa-spin fa-spinner ms-2 mt-1"></i>
              }
          </button>
        </div>

      </div>
    </form>
    }@else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" class=" bg-slate-50 md:w-1/2 mx-auto mt-10 p-10 shadow-lg border" >
      <div class="mb-3">
        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 ">Enter Code</label>
        <input type="code" formControlName="resetCode" id="code"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 ">

        @let resetCodeControl = verifyCode.get("resetCode");

        @if(resetCodeControl?.errors && resetCodeControl?.touched ){
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 " role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">


              @if(resetCodeControl?.getError('required') && resetCodeControl?.touched){
              <li>Code is required</li>
              }@else if (resetCodeControl?.getError('pattern') && resetCodeControl?.touched) {
              <li>Code is not valid</li>

              }




            </ul>
          </div>
        </div>
        }

        <div class="mt-3">
          <button [disabled]="isloading" type="submit" class="text-white bg-green-600 rounded-md  px-5 py-2.5 text-center">

            Confirm Code
            @if(isloading){
              <i class="fa fa-spin fa-spinner ms-2 mt-1"></i>
              }
          </button>
        </div>

      </div>
    </form>
    }@else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="rePasswordSubmit()" class=" bg-slate-50 md:w-1/2 mx-auto mt-10 p-10 shadow-lg border">
      <div class="mb-3">
        <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 ">User Email</label>
        <input type="Email" formControlName="email" id="Email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">

        @let emailresetPassword = resetPassword.get("email");

        @if(emailresetPassword?.errors && emailresetPassword?.touched ){
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 " role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">


              @if(emailresetPassword?.getError('required') && emailresetPassword?.touched){
              <li>Email is required</li>
              }@else if (emailresetPassword?.getError('email') && emailresetPassword?.touched) {
              <li>Email is not valid</li>

              }




            </ul>
          </div>
        </div>
        }



      </div>


      <div class="mb-3">
        <label for="Password" class="block mb-2 text-sm font-medium text-gray-900 ">User rePassword</label>
        <input type="Password" formControlName="newPassword" id="Password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  ">

        @let rePasswordResetPassword = resetPassword.get("newPassword");

        @if(rePasswordResetPassword?.errors && rePasswordResetPassword?.touched ){
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  mt-2 " role="alert">
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">


              @if(rePasswordResetPassword?.getError('required') && rePasswordResetPassword?.touched){
              <li>rePassword is required</li>
              }@else if (rePasswordResetPassword?.getError('pattern') && rePasswordResetPassword?.touched) {
              <li>rePassword is not valid</li>

              }




            </ul>
          </div>
        </div>
        }

        <div class="mt-3">
          <button [disabled]="isloading" type="submit" class="text-white bg-green-600 rounded-md  px-5 py-2.5 text-center">

            Confirm Email
            @if(isloading){
              <i class="fa fa-spin fa-spinner ms-2 mt-1"></i>
              }
          </button>
        </div>

      </div>

    </form>
    }







  </div>
</section>

